/LegatoMidiEventFactory.class
/LegatoMidiEventFactoryAbstract.class
/MidiEventFactory.class
/MidiEventFactoryAbstract.class
/StaccatoMidiEventFactory.class
/StaccatoMidiEventFactoryAbstract.class
/StandardMidiEventFactory.class
/StandardMidiEventFactoryAbstract.class
